<div class="row">

  <div class="col">
    <ul>
      <li>
        <input type="checkbox" [(ngModel)]="selectedRegionAll" (change)="selectRegionAll()" /> (All Regions)
      </li>
      <li *ngFor="let n of regionSelector">
        <input type="checkbox" [(ngModel)]="n.selected" (change)="checkIfAllRegionSelected()"> {{n.region}}
      </li>
    </ul>
  </div>

  <div class="col">
      <ul>
        <li>
          <input type="checkbox" [(ngModel)]="selectedRelationAll" (change)="selectRelationAll()" /> (All Relation)
        </li>
        <li *ngFor="let n of relationSelector">
          <input type="checkbox" [(ngModel)]="n.selected" (change)="checkIfAllRelationSelected()"> {{n.relation}}
        </li>
      </ul>
    </div>



</div>

<div class="row">

  <!-- <form [formGroup]="regionForm">

    <ul>
      <li>
        <label class="center-block">
          <input type="checkbox" formControlName="region" value="All"> All
        </label>
      </li>

      <li *ngFor="let r of allRegionCombined">
        <label class="center-block">
          <input type="checkbox" formControlName="region" value="{{r}}" > {{r}}
        </label>
      </li>
    </ul>
  </form> -->


  <div class="col">
    <div class="tornadoChart" id='proposalDemographic' #proposalDemographic></div>
  </div>

  <div class="col">
    <div class="tornadoChart" id='benchmarkDemographic' #benchmarkDemographic></div>
  </div>
</div>